#exprience {
  background-color: var(--bg);
  position: relative;
  font-size: 1.2rem;
  padding: 4rem 1rem; /* beri ruang atas bawah & responsif */
}

#exprience > .wrapper {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

/* Judul */
#exprience > .wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Kanit", sans-serif;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.exprience-title {
  background: linear-gradient(
  270deg,
  var(--primary),
  #49b7ea
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ------------------infinitevol3------------------ */
.image-container-infinitevol3 {
  position: relative;
  display: inline-block;
}

.sertifikat-badge-infinitevol3 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg);
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.sertifikat-badge-infinitevol3 svg {
  width: 18px;
  height: 18px;
}

.sertifikat-badge-infinitevol3:hover {
  background-color: var(--primary);
  color: #fff;
}

.sertifikat-badge-infinitevol3:hover svg {
  color: #fff;
}

/* ----------------infinitevol3--------------- */
.content-flex-infinitevol3 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.infinitevol3-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
/* -------------------------infinitevol3--------------- */
.text-content-infinitevol3 {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content-infinitevol3 h2,
.text-content-infinitevol3 p,
.text-content-infinitevol3 ul,
.text-content-infinitevol3 li {
  margin: 0;
  padding: 0;
}

.text-content-infinitevol3 p {
  line-height: 1.7rem
}


.text-content-infinitevol3 h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content-infinitevol3 ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* ---------------------wp24------------------ */
.image-container-wp24 {
  position: relative;
  display: inline-block;
}

.sertifikat-badge-wp24 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg);
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.sertifikat-badge-wp24 svg {
  width: 18px;
  height: 18px;
}

.sertifikat-badge-wp24:hover {
  background-color: var(--primary);
  color: #fff;
}

.sertifikat-badge-wp24:hover svg {
  color: #fff;
}

/* --------------------wp24------------------ */
.content-flex-wp24 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.wp24-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
/* ------------------------wp24---------------------- */
.text-content-wp24 {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content-wp24 h2,
.text-content-wp24 p,
.text-content-wp24 ul,
.text-content-wp24 li {
  margin: 0;
  padding: 0;
}

.text-content-wp24 p {
  line-height: 1.7rem
}


.text-content-wp24 h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content-wp24 ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* ---------------------hutkm------------------ */
.image-container-hutkm {
  position: relative;
  display: inline-block;
}

.sertifikat-badge-hutkm {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg);
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.sertifikat-badge-hutkm svg {
  width: 18px;
  height: 18px;
}

.sertifikat-badge-hutkm:hover {
  background-color: var(--primary);
  color: #fff;
}

.sertifikat-badge-hutkm:hover svg {
  color: #fff;
}

/* --------------------hutkm------------------ */
.content-flex-hutkm {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.hutkm-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
/* ------------------------hutkm---------------------- */
.text-content-hutkm {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content-hutkm h2,
.text-content-hutkm p,
.text-content-hutkm ul,
.text-content-hutkm li {
  margin: 0;
  padding: 0;
}

.text-content-hutkm p {
  line-height: 1.7rem
}


.text-content-hutkm h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content-hutkm ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* ---------------------infinitevol4------------------ */
.image-container-infinitevol4 {
  position: relative;
  display: inline-block;
}

.sertifikat-badge-infinitevol4 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg);
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.sertifikat-badge-infinitevol4 svg {
  width: 18px;
  height: 18px;
}

.sertifikat-badge-infinitevol4:hover {
  background-color: var(--primary);
  color: #fff;
}

.sertifikat-badge-infinitevol4:hover svg {
  color: #fff;
}

/* --------------------infinitevol4------------------ */
.content-flex-infinitevol4 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.infinitevol4-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
/* ------------------------infinitevol4---------------------- */
.text-content-infinitevol4 {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content-infinitevol4 h2,
.text-content-infinitevol4 p,
.text-content-infinitevol4 ul,
.text-content-infinitevol4 li {
  margin: 0;
  padding: 0;
}

.text-content-infinitevol4 p {
  line-height: 1.7rem
}


.text-content-infinitevol4 h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content-infinitevol4 ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* ---------------------maganghmif------------------ */
.image-container-maganghmif {
  position: relative;
  display: inline-block;
}

.sertifikat-badge-maganghmif {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg);
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.sertifikat-badge-maganghmif svg {
  width: 18px;
  height: 18px;
}

.sertifikat-badge-maganghmif:hover {
  background-color: var(--primary);
  color: #fff;
}

.sertifikat-badge-maganghmif:hover svg {
  color: #fff;
}

/* --------------------maganghmif------------------ */
.content-flex-maganghmif {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.maganghmif-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
/* ------------------------maganghmif---------------------- */
.text-content-maganghmif {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content-maganghmif h2,
.text-content-maganghmif p,
.text-content-maganghmif ul,
.text-content-maganghmif li {
  margin: 0;
  padding: 0;
}

.text-content-maganghmif p {
  line-height: 1.7rem
}


.text-content-maganghmif h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content-maganghmif ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* ---------------------stafhmif------------------ */
.image-container-stafhmif {
  position: relative;
  display: inline-block;
}

.sertifikat-badge-stafhmif {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg);
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 2;
}

.sertifikat-badge-stafhmif svg {
  width: 18px;
  height: 18px;
}

.sertifikat-badge-stafhmif:hover {
  background-color: var(--primary);
  color: #fff;
}

.sertifikat-badge-stafhmif:hover svg {
  color: #fff;
}

/* --------------------stafhmif------------------ */
.content-flex-stafhmif {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.stafhmif-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
/* ------------------------stafhmif---------------------- */
.text-content-stafhmif {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content-stafhmif h2,
.text-content-stafhmif p,
.text-content-stafhmif ul,
.text-content-stafhmif li {
  margin: 0;
  padding: 0;
}

.text-content-stafhmif p {
  line-height: 1.7rem
}


.text-content-stafhmif h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content-stafhmif ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* Subjudul opsional */
#exprience > .wrapper > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  color: #fff;
}

/* Icon skill jika digunakan */
.skills {
  text-align: center;
  margin-top: 2rem;
}

.skills > svg {
  display: inline-block;
  color: #74797e;
  width: 50px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.skills > svg:hover {
  color: #aa392d;
  transform: scale(1.2);
}

/* Responsif */
@media only screen and (max-width: 1000px) {
  #exprience > .wrapper {
    width: 80%;
  }

  /* --------------------infinitevol3--------------- */
    .content-flex-infinitevol3 {
    flex-direction: column;
    align-items: center;
  }

  .text-content-infinitevol3 {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }

  .text-content-infinitevol3 ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  /* margin-top: 2px;   opsional untuk jarak atas */
}

/* ------------------------wp24--------------------------- */
    .content-flex-wp24 {
    flex-direction: column;
    align-items: center;
  }

  .text-content-wp24 {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }
  
  .text-content-wp24 ul {
    padding-left: 1.9rem;
  }

/* ------------------------hutkm--------------------------- */
    .content-flex-hutkm {
    flex-direction: column;
    align-items: center;
  }

  .text-content-hutkm {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }
  
  .text-content-hutkm ul {
    padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
    /* margin-top: 2px;   opsional untuk jarak atas */
  }

/* ------------------------infinitevol4--------------------------- */
    .content-flex-infinitevol4 {
    flex-direction: column;
    align-items: center;
  }

  .text-content-infinitevol4 {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }
  
  .text-content-infinitevol4 ul {
    padding-left: 1.9rem;
  }

/* ------------------------maganghmif--------------------------- */
    .content-flex-maganghmif {
    flex-direction: column;
    align-items: center;
  }

  .text-content-maganghmif {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }
  
  .text-content-maganghmif ul {
    padding-left: 1.9rem;
  }

/* ------------------------stafhmif--------------------------- */
    .content-flex-stafhmif {
    flex-direction: column;
    align-items: center;
  }

  .text-content-stafhmif {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }
  
  .text-content-stafhmif ul {
    padding-left: 1.9rem;
  }
}

@media only screen and (max-width: 600px) {
  #exprience > .wrapper {
    width: 95%;
  }

  #exprience > .wrapper > h3 {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  #exprience > .wrapper > p {
    font-size: 1rem;
  }
  /* --------------------infnitevol3----------------- */
  .text-content-infinitevol3 {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }

/* -----------------------wp24--------------------- */
  .text-content-wp24 {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }

/* -----------------------hutkm--------------------- */
  .text-content-hutkm {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }

/* -----------------------infinitevol4--------------------- */
  .text-content-infinitevol4 {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }

/* -----------------------maganghmif--------------------- */
  .text-content-maganghmif {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }

/* -----------------------stafhmif--------------------- */
  .text-content-stafhmif {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }
}