#exprience {
  background-color: var(--bg);
  position: relative;
  font-size: 1.2rem;
  padding: 4rem 1rem; /* beri ruang atas bawah & responsif */
}

#exprience > .wrapper {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

/* Judul */
#exprience > .wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Kanit", sans-serif;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.exprience-title {
  background: linear-gradient(
  270deg,
  var(--primary),
  #49b7ea
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-flex {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.infinitevol3-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Paragraf */
.text-content {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.text-content h2,
.text-content p,
.text-content ul,
.text-content li {
  margin: 0;
  padding: 0;
}

.text-content p {
  line-height: 1.7rem
}


.text-content h2 {
  font-weight: bold;
  color: var(--primary);
  margin-top: -5px;
}

.text-content ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  margin-top: 2px;     /* opsional untuk jarak atas */
}

/* Subjudul opsional */
#exprience > .wrapper > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  color: #fff;
}

/* Icon skill jika digunakan */
.skills {
  text-align: center;
  margin-top: 2rem;
}

.skills > svg {
  display: inline-block;
  color: #74797e;
  width: 50px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.skills > svg:hover {
  color: #aa392d;
  transform: scale(1.2);
}

/* Responsif */
@media only screen and (max-width: 1000px) {
  #exprience > .wrapper {
    width: 80%;
  }
    .content-flex {
    flex-direction: column;
    align-items: center;
  }

  .text-content {
    margin-top: 1rem;
    text-align: left;
    margin: 0 0rem;
  }
}

.text-content ul {
  padding-left: 1.9rem; /* ⬅️ geser masuk ke kanan */
  /* margin-top: 2px;   opsional untuk jarak atas */
}

@media only screen and (max-width: 600px) {
  #exprience > .wrapper {
    width: 95%;
  }

  #exprience > .wrapper > h3 {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  #exprience > .wrapper > p {
    font-size: 1rem;
  }
  
  .text-content {
    margin-top: 1rem;
    text-align: left;
    margin: 0 1rem;
  }
}
