.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  justify-items: center;
  margin-top: 2rem;
}

.grid > .item > a > img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid> .item > a > img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.2);
}

#portofolio > .wrapper > h3 {
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.portofolio-title {
  background: linear-gradient(
  270deg,
  var(--primary),
  #49b7ea
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}